{% load static %}
<html> 
	<head>
		<title>Al-amin's Blog</title> 
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:􏰄􏰃􏰃" rel="stylesheet">
		<link href="{% static 'css/base.css' %}" rel="stylesheet">
	</head>
	<body> 
		<header>
			<div class="nav-left">
				<h1><a href="{% url 'home' %}">Al-amin's Blog</a></h1>
			</div>
			<div class="nav-right">
				<a href="{% url 'post_new' %}">+ New Blog Post</a> 
			</div>
		</header>
		<div>
			{% if user.is_authenticated %}
				<p>Hi {{ user.username }}!</p> 
				<p><a href="{% url 'logout' %}">Log out</a></p>
			{% else %}
				<p>You are not logged in.</p>
				<a href="{% url 'login' %}">Log In</a>
			{% endif %}
		{% block content %} 
		{% endblock content %}
		</div>
	</body>
</html>